    <% if keymap.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= keymap.errors.count %> errors prohibited this article from being saved:</h2>
    <ul>
      <% keymap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
