<%# KEYMAPS / NEW %>
<div class="row">
  <div class="col-sm-12">
    <h1>New Keymap</h1>
    <%= form_with scope: :keymap, url: keymaps_path, method: :post, local: true do |f| %>
      <fieldset>
        <%= render 'Keymaps/edit_keymap', f: f %>
        <%= f.button 'Submit', type: 'submit', onclick: 'submit()', id: 'customButton', class: "btn btn-primary"%>
      </fieldset>
    <% end %>
  </div>
</div>
