<%# DEBUG %>
<%# KEYMAP / :ID %>
<div class="row">
  <div class="col-sm-12"></div>
  <h1><%= @keymap.name %></h1>
  <div class="d-flex align-items-end version-tag"><span class="badge badge-primary"><%= @keymap.version %></span></div>
</div>
</div>
