@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

* {
  font-family: "M PLUS Rounded 1c";
}

h1 {
  font-weight: 600;
}

.badge {
  font-size: 100%;
}

.version-tag {
  margin-left: 0.5em;
  margin-bottom: 1.1em;
}
